<div class="parallax-container row valign-wrapper">
	<div class="col m6 offset-m3 s12 valign">
		<h1 class="hero-title">Solar Bundeena Maianbar</h1>
	</div>
	<div class="parallax"><img ng-src="{{ baseThemeURI + '/img/maianbar.jpg' }}" init-parallax></div>
</div>
<div class="row">
	<div class="col m6 offset-m3 s12">
		<h2 class="center">FAQ</h1>
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="fa fa-question circle green white-text"></i>
				<span class="title">Who are we?</span>
				<p>
					We are so and so... <br />
					We want to...
				</p>
			</li>
			<li class="collection-item avatar">
				<i class="fa fa-question circle green white-text"></i>
				<span class="title">How can I get involved?</span>
				<p>
					You can do so and so... <br />
					Or you can donate to help us do so and so...
				</p>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col m6 offset-m3 s12 center">
		<a class="waves-effect waves-light btn green darken-3">Donate Now</a>
		<a class="waves-effect waves-light btn white green-text">Learn More</a>
	</div>
</div>